<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--公司內部-->
    <!-- 雲端機房-->
    <add key="SANDBOX_SITE" value="https://apisbx.sinopac.com/funBIZ-Sbx/QPay.WebAPI/api/" />
    <add key="SINOPAC_SITE" value="https://api.sinopac.com/funBIZ/QPay.WebAPI/api/" />

    <add key="SPEECHMESSAGE_XKeyID" value="b5e6986d-8636-4aa0-8c93-441ad14b2098" />
    <add key="YHCHURCH_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="IM_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="VICTORY_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="CHUNGHSIAO_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="YM_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="ELIJAH_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="APBOLC_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="GOODNEWS_XKeyID" value="d5bf95fd-93fa-431a-bf82-71c025a6ffe4" />
    <add key="FRENCH_XKeyID" value="82ed7cac-fe88-4d68-964a-6ac63750fb85" />
    <add key="FBLLC_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="611_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="NANKAN_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="TYCANNAH_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />
    <add key="DEFAULT_XKeyID" value="d1e96f57-f31f-4fc1-b14b-beb930f5aa86" />

  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>